body {
  width: 100%;
  margin: 0 auto;
  background-color: #eff6fb;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.4;
  color: #585858;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.no-scroll,
body.show-nav {
  overflow: hidden;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button,
a {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0 0 10px;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.text-center {
  text-align: center;
}

/* Container */

.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Page */

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  background-color: #f8f8f8;
}

/* Header */

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  -webkit-transition: background 0.2s linear;
  -o-transition: background 0.2s linear;
  transition: background 0.2s linear;
}

.header--dark,
body.show-nav .header {
  background-color: rgba(0, 0, 0, 0.9);
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1600px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 85px;
}

.header__logo {
  text-decoration: none;
  color: #fff;
}

.header__logo--black {
  color: #2c2c2c;
}

.header__logo img {
  display: inline-block;
  vertical-align: middle;
}

.header__logo-text {
  font-size: 15px;
  font-weight: 700;
  margin-left: 11px;
  position: relative;
  top: 2px;
}

/* Nav */

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  font-size: 16px;
  padding-top: 10px;
}

.nav > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
  color: #fff;
  text-decoration: none;
  -webkit-transition: background 0.2s linear;
  -o-transition: background 0.2s linear;
  transition: background 0.2s linear;
}

.nav__link:not(.active):hover {
  text-decoration: underline;
}

.nav__link.active {
  background-color: #004af2;
}

.nav__link-arrow {
  margin-left: 10px;
}

.nav > ul li a {
  display: block;
}

.nav li ul {
  position: absolute;
  min-width: 150px;
  display: none;
}

.nav li > ul li {
  border-bottom: 1px solid rgba(201, 197, 197, 0.3);
  background-color: #fff;
  margin: 10px 0px 0px 16px;
  text-align: center;
  padding: 17px 45px;
  -webkit-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.nav li > ul li a {
  color: #000;
  text-decoration: none;
}

.nav li > ul li:hover {
  background-color: #c1b086;
}

.nav li > ul li:nth-child(n + 2) {
  margin-top: 0;
}

.nav li:hover > ul {
  display: block;
}

.nav li > ul li ul {
  position: absolute;
  right: -140px;
  top: -10px;
}

.nav__link-sub {
  position: relative;
}

.nav__link-sub img {
  position: absolute;
  top: 30px;
  right: 160px;
  width: 15px;
}

/* Burger */

.burger {
  width: 30px;
  height: 23px;
  position: relative;
  padding: 0;
  background: none;
  border: 0;
  font-size: 0;
  color: transparent;
  display: none;
}

.burger:focus {
  outline: none;
}

.burger__line {
  display: block;
  width: 30px;
  height: 2px;
  margin: 3px 0;
  background-color: #fff;
  -webkit-transition: -webkit-transform 0.2s ease-out;
  transition: -webkit-transform 0.2s ease-out;
  -o-transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
}

.burger__line:nth-child(1) {
  width: 20px;
  margin-left: auto;
}

.burger__line:nth-child(1),
.burger__line:nth-child(3) {
  -webkit-transform-origin: right;
      -ms-transform-origin: right;
          transform-origin: right;
  -webkit-transition: width 0.2s ease-out;
  -o-transition: width 0.2s ease-out;
  transition: width 0.2s ease-out;
}

.burger.active .burger__line:nth-child(1),
.burger.active .burger__line:nth-child(3) {
  width: 0;
}

.burger.active .burger__line:nth-child(2),
.burger.active .burger__line:nth-child(4) {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
}

.burger.active .burger__line:nth-child(2) {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.burger.active .burger__line:nth-child(4) {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

/* Intro */

.intro {
  margin-bottom: 30px;
  position: relative;
}

.intro__slider {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #04222a url("../img/slider/slide-1-2560x1268.jpg") no-repeat center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.intro__slider .slider-item {
  display: none;
}

.intro__slider.slick-initialized {
  background: #04222a;
}

.intro__slider.slick-initialized .slider-item {
  display: block;
}

.intro__slider .slick-list,
.intro__slider .slick-track {
  height: 100%;
}

.intro__slider-item {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.intro__slider-photo {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.intro__slider-btn {
  width: 0;
  height: 0;
  padding: 0;
  margin: 0 5px;
  font-size: 0;
  color: transparent;
  cursor: pointer;
  background: transparent;
}

.intro__slider-btn:focus {
  outline: none;
}

.intro__slider-btn--next {
  border-style: solid;
  border-width: 15px 15px 0px 0;
  border-radius: 50%;
  border-color: transparent #fff transparent transparent;
}

.intro__inner {
  height: 850px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  z-index: 2;
}

.intro__text {
  color: #fff;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.intro__title {
  font-family: 'Noto Serif', serif;
  font-size: 80px;
  font-weight: 400;
}

.intro__title span {
  display: block;
  font-size: 480px;
  font-weight: 700;
  line-height: 480px;
  max-width: 60%;
  text-transform: uppercase;
  font-family: 'Noto Serif', serif;
  color: rgba(255, 255, 255, 0.05);
  position: absolute;
  top: 43%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: default;
}

.intro__text p {
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 28px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-left: 45px;
  margin-bottom: 40px;
}

.intro__text-btn {
  position: absolute;
  top: 100%;
  left: 0;
  display: inline-block;
  color: #fff;
  border: 1px solid;
  border-radius: 1.875rem;
  font-size: 0.75rem;
  text-transform: uppercase;
  line-height: 1.2;
  padding: 1.5835em 3.333em;
  font-weight: 600;
  text-align: center;
  letter-spacing: 1px;
  cursor: pointer;
  background-color: transparent;
  margin-left: 40px;
  margin-bottom: 40px;
  -webkit-transition: background-color 0.4s linear;
  -o-transition: background-color 0.4s linear;
  transition: background-color 0.4s linear;
  z-index: 50;
}

.intro__text-btn a {
  color: #fff;
  text-decoration: none;
}

.intro__text-btn:hover {
  background-color: #c1b086;
}

.intro__slider-arrows {
  position: relative;
  left: 0;
  bottom: -200px;
  z-index: 50;
}

.preview {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 22%;
          flex: 0 1 22%;
  position: relative;
  right: -80px;
  overflow: hidden;
}

.preview__inner {
  margin-bottom: 20px;
}

.preview__img {
  width: 55%;
  height: 90px;
  margin-bottom: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}

.preview__img.active {
  border: 2px solid #fff;
}

.form-search {
  position: relative;
  top: -100px;
  width: 100%;
  max-width: 1230px;
  background-color: #130558;
  z-index: 500;
}

.form-search__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-search__col-link {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 25px;
}

.form-search__col--search {
  width: 200px;
  background-color: #324de9;
  text-align: center;
  height: 150px;
  padding-top: 60px;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.form-search__col--search:hover {
  background-color: #c1b086;
}

.form-search__col-name {
  color: #fff;
  margin-top: 30px;
  margin-left: 20px;
  margin-bottom: 15px;
}

.form-search__col--in {
  width: 250px;
  margin-left: 5px;
}

.form-search__col--out {
  width: 250px;
}

.form-search__col--adult {
  width: 200px;
}

.form-search__col--children {
  width: 200px;
  margin-right: 5px;
}

.form-search__col-input input {
  margin-top: 10px;
  padding: 14px 0px;
  background-color: #0c0c5e;
  margin-left: 5px;
  font-size: 20px;
  color: #ccc;
  border: 0;
  padding-left: 10px;
  font-size: 18px;
  border: 1px solid rgba(204, 204, 204, 0.5);
}

.form-search__col-input select {
  width: 170px;
  margin-top: 10px;
  padding: 14px 0px;
  background-color: #0c0c5e;
  margin-left: 5px;
  font-size: 20px;
  color: #ccc;
  border: 0;
  padding-left: 10px;
  font-size: 18px;
  border: 1px solid rgba(204, 204, 204, 0.5);
}

.welcome {
  margin-bottom: 200px;
}

.welcome__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 70px;
  margin-bottom: 100px;
}

.welcome__photo {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  position: relative;
  margin-left: 50px;
  overflow: hidden;
}

.welcome__photo--big {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.welcome__photo--small {
  width: 55%;
  height: 50%;
  position: absolute;
  bottom: 0;
  right: 105px;
}

.welcome__text {
  width: 45%;
}

.header__suptitle {
  color: #000;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 10px;
  letter-spacing: 2px;
}

.header__suptitle::before {
  content: '';
  width: 70px;
  height: 5px;
  display: block;
  background-color: #c1b086;
  margin-bottom: 20px;
}

.welcome__title {
  font-size: 35px;
  font-weight: 400;
  margin-bottom: 30px;
}

.welcome__paragraph {
  font-size: 16px;
  line-height: 2;
  padding-left: 50px;
}

.welcome__btn {
  border-radius: 1.875rem;
  font-size: 0.75rem;
  text-transform: uppercase;
  line-height: 1.2;
  padding: 1.5835em 3.333em;
  font-weight: 600;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  letter-spacing: 1px;
  background: #c1b086;
  color: #fff;
  border-color: transparent;
  cursor: pointer;
  -webkit-transition: background-color 0.4s linear;
  -o-transition: background-color 0.4s linear;
  transition: background-color 0.4s linear;
  margin-top: 30px;
  margin-left: 50px;
}

.welcome__btn:hover {
  background-color: blue;
}

.amenities {
  color: #fff;
  margin-bottom: 50px;
}

.amenities__inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.amenities__background img {
  position: absolute;
  width: 100%;
  height: 80%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
  z-index: 1;
}

.amenities__description {
  display: block;
  position: relative;
  background-color: #20bde4;
  width: 610px;
  height: 600px;
  padding: 50px 50px 70px 100px;
  top: -60px;
  right: -50%;
  z-index: 2;
}

.description__title {
  font-size: 25px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.description__text {
  padding-bottom: 50px;
  font-size: 18px;
  line-height: 1.8;
}

.description__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.description__list--left li {
  padding: 0px 30px 30px 30px;
}

.description__list--right li {
  padding: 0px 30px 30px 30px;
}

.swimming-icon {
  background: url(../img/swimming-pool.png) 0 0 no-repeat;
  background-size: 20px;
}

.spa-icon {
  background: url(../img/massage.png) 0 0 no-repeat;
  background-size: 20px;
}

.surfing-icon {
  background: url(../img/swimmer.png) 0 0 no-repeat;
  background-size: 20px;
}

.diving-icon {
  background: url(../img/wind.png) 0 0 no-repeat;
  background-size: 20px;
}

.gym-icon {
  background: url(../img/dumbell.png) 0 0 no-repeat;
  background-size: 20px;
}

.boat-icon {
  background: url(../img/cruise.png) 0 0 no-repeat;
  background-size: 20px;
}

.conference-icon {
  background: url(../img/speaker.png) 0 0 no-repeat;
  background-size: 20px;
}

.beach-icon {
  background: url(../img/wind.png) 0 0 no-repeat;
  background-size: 20px;
}

.rooms {
  position: relative;
  margin-bottom: 150px;
}

.rooms__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.rooms__title {
  font-size: 35px;
  font-weight: 400;
  margin-bottom: 70px;
  margin-top: 20px;
}

.header__title {
  font-size: 35px;
  font-weight: 400;
  margin-bottom: 70px;
  margin-top: 20px;
}

.rooms__btn {
  border-radius: 1.875rem;
  font-size: 0.75rem;
  text-transform: uppercase;
  line-height: 1.2;
  padding: 1.5835em 3.333em;
  font-weight: 600;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  letter-spacing: 1px;
  background: #c1b086;
  color: #fff;
  cursor: pointer;
  border: 1px solid;
  border-color: transparent;
  margin-right: 70px;
  margin-top: 70px;
}

.rooms__btn:hover {
  background-color: blue;
}

.btn-all {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 50px;
  cursor: pointer;
  color: #fff;
  background-color: #c1b086;
  padding: 15px 30px;
  border-radius: 25px;
  outline: none;
  -webkit-transition: background-color 0.4s linear;
  -o-transition: background-color 0.4s linear;
  transition: background-color 0.4s linear;
  display: block;
  position: absolute;
  top: 20px;
  right: 280px;
  z-index: 1;
}

.rooms__offers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.rooms__offers-col img {
  width: 100%;
  padding-bottom: 15px;
  margin-right: 30px;
}

.rooms__offers-col img:last-child {
  margin-right: 0;
}

.rooms__name {
  padding-left: 20px;
  padding-bottom: 15px;
}

.rooms__name a {
  color: #000;
  text-decoration: none;
}

.rooms__name a:hover {
  color: #c1b086;
}

.rooms__price {
  padding-left: 20px;
  padding-bottom: 15px;
}

.rooms__offers-col {
  width: 30%;
  background-color: #fff;
  -webkit-box-shadow: 0px 15px 50px 0px #c9c9c9;
  box-shadow: 0px 15px 50px 0px #c9c9c9;
}

.reviews {
  margin-bottom: 50px;
  position: relative;
}

.reviews__inner {
  position: relative;
}

.reviews__background img {
  position: absolute;
  width: 100%;
  height: 80%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
}

.reviews__block {
  display: block;
  position: relative;
  background-color: #20bde4;
  max-width: 610px;
  height: 640px;
  padding: 50px 50px 70px 100px;
  top: -60px;
  left: 165px;
  color: #fff;
}

.reviews__block-suptitle {
  font-size: 12px;
  font-weight: 600;
  line-height: 21px;
  margin-bottom: 30px;
}

.reviews__block-suptitle::before {
  content: '';
  width: 70px;
  height: 5px;
  display: block;
  background-color: #fff;
  margin-bottom: 20px;
  margin-top: 50px;
}

.reviews__block-title {
  font-size: 31px;
  font-family: 'Noto Serif', serif;
  color: #fff;
  line-height: 1.4;
  font-weight: 400;
  letter-spacing: -0.5px;
  margin-bottom: 50px;
}

.reviews__block-text {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 18px;
  font-style: italic;
  line-height: 28.8px;
  padding: 0px 40px;
  margin-bottom: 50px;
}

.reviews__block-author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16.8px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.reviews__block-author-photo {
  display: block;
  width: 70px;
  border-radius: 50%;
}

.reviews__block-author-name {
  padding-left: 85px;
  margin-top: -50px;
}

.reviews__block-author-state {
  padding-left: 85px;
}

.restaurant {
  margin-bottom: 100px;
}

.restaurant__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.restaurant__photo {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  position: relative;
}

.restaurant__photo img {
  max-width: 86%;
  max-height: 90%;
}

.restaurant__menu {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
  margin-left: 50px;
}

.restaurant__title {
  color: #000;
  font-family: 'Noto Serif', serif;
  font-size: 31px;
  font-weight: 400;
  letter-spacing: -0.5px;
  line-height: 43.4px;
  margin-bottom: 30px;
}

.restaurant__text {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #000;
  line-height: 28px;
  margin-bottom: 40px;
}

.restaurant__menu-nav__item {
  position: relative;
  margin-bottom: 25px;
}

.restaurant__menu-nav__item:last-child {
  margin-bottom: 0;
}

.restaurant__menu-nav__item--link {
  cursor: pointer;
  font-family: 'Noto Serif', serif;
  text-decoration: none;
  color: #000;
  -webkit-transition: color 0.5s linear;
  -o-transition: color 0.5s linear;
  transition: color 0.5s linear;
  overflow: hidden;
}

.restaurant__menu-nav__item--link:hover {
  color: #c1b086;
}

.restaurant__menu-nav__item--link .active {
  color: #c1b086;
}

.fas {
  display: block;
  color: #c1b086;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: right;
  font-size: 12px;
  position: absolute;
  top: 4px;
  right: 25px;
}

.nav__submenu {
  overflow: hidden;
  max-height: 0;
}

.nav__submenu:target {
  max-height: 100rem;
  -webkit-transition: max-height 0.5s;
  -o-transition: max-height 0.5s;
  transition: max-height 0.5s;
}

.nav__submenu-description {
  border: 0;
  margin-top: 30px;
  padding: 30px 40px;
  background: #fff;
  -webkit-box-shadow: 0 13px 43px 0 rgba(37, 46, 89, 0.1);
          box-shadow: 0 13px 43px 0 rgba(37, 46, 89, 0.1);
  font-size: 14px;
  font-size: 14px;
}

.photo-gallery {
  margin-bottom: 100px;
}

.photo-gallery__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}

.photo-gallery__title {
  font-size: 30px;
  font-family: 'Noto Serif', serif;
  color: #222;
  line-height: 1.4;
  font-weight: 400;
  letter-spacing: -0.5px;
  margin-bottom: 20px;
}

.photo-gallery__btn {
  border-radius: 1.875rem;
  font-size: 0.75rem;
  text-transform: uppercase;
  line-height: 1.2;
  padding: 1.5835em 3.333em;
  font-weight: 600;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  letter-spacing: 1px;
  background: #c1b086;
  color: #fff;
  border: 1px solid;
  border-color: transparent;
  -webkit-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
  margin-top: 50px;
}

.photo-gallery__btn:hover {
  background-color: blue;
}

.photo-gallery__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px 0px;
}

.photo-gallery__block-item {
  width: 23%;
}

.photo-gallery__block img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#map {
  width: 100%;
  height: 600px;
  margin-bottom: 100px;
}

.site-info {
  margin-bottom: 20px;
}

.site-info::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: #f0ebeb;
  margin-top: 30px;
}

.site-info__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 100px;
}

.col-payment-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.site-info__col-payment {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
  margin-top: 22px;
}

.site-info__logo-name {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  margin-top: 15px;
  margin-left: 10px;
}

.site-info__col-payment-about {
  padding-right: 100px;
  margin-bottom: 30px;
}

.site-info__col-customers {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20%;
          flex: 1 1 20%;
}

.col-customers__title {
  font-size: 1.25rem;
  font-family: 'Noto Serif', serif;
  color: #222;
  margin: 1.5em 0 0.5em;
  line-height: 1.4;
  font-weight: 400;
  letter-spacing: -0.5px;
  margin-bottom: 20px;
}

.col-customers__list li {
  padding-bottom: 25px;
}

.col-customers__link {
  color: #000;
  text-decoration: none;
  padding-bottom: 20px;
  -webkit-transition: color 0.4s linear;
  -o-transition: color 0.4s linear;
  transition: color 0.4s linear;
}

.col-customers__link:hover {
  color: #c1b086;
}

.site-info__col-news {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 26%;
          flex: 1 1 26%;
}

.col-news__title {
  font-size: 1.25rem;
  font-family: 'Noto Serif', serif;
  color: #222;
  margin: 1.5em 0 0.5em;
  line-height: 1.4;
  font-weight: 400;
  letter-spacing: -0.5px;
  margin-bottom: 20px;
}

.col-news__list {
  padding-right: 100px;
}

.col-news__list li {
  padding-bottom: 25px;
}

.col-news__link {
  color: #000;
  text-decoration: none;
  -webkit-transition: color 0.4s linear;
  -o-transition: color 0.4s linear;
  transition: color 0.4s linear;
}

.col-news__link:hover {
  color: #c1b086;
}

.site-info__col-contact {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
}

.col-contact__title {
  font-size: 1.25rem;
  font-family: 'Noto Serif', serif;
  color: #222;
  margin: 1.5em 0 0.5em;
  line-height: 1.4;
  font-weight: 400;
  letter-spacing: -0.5px;
  margin-bottom: 20px;
}

.address {
  color: #000;
  font-style: normal;
  padding-right: 90px;
  margin-bottom: 25px;
}

.col-contact-mail {
  margin-bottom: 20px;
}

.col-contact-mail a {
  color: #000;
  text-decoration: none;
}

.col-contact-tel a {
  color: #000;
  text-decoration: none;
}

.col-contact-fax {
  margin-bottom: 30px;
}

.col-contact-fax a {
  color: #000;
  text-decoration: none;
}

.col-contact-24 a {
  color: #000;
  text-decoration: none;
}

.footer__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__col--left {
  margin-bottom: 20px;
  margin-left: 50px;
}

.footer__col--right {
  margin-right: 50px;
}

.faq {
  max-width: 500px;
  margin: 20px auto;
}

.faq-item {
  margin-bottom: 5px;
  border: 1px solid #b91125;
}

.faq-title {
  display: block;
  padding: 10px 15px;
  position: relative;
  color: #fff;
  cursor: pointer;
  -webkit-transition: background 0.2s ease-out;
  -o-transition: background 0.2s ease-out;
  transition: background 0.2s ease-out;
}

.faq-title:after {
  content: '';
  display: block;
  border-style: solid;
  border-width: 8px 5px 0 5px;
  border-color: #fff transparent transparent transparent;
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.faq-title:hover {
  background-color: #b91125;
}

.faq-input {
  width: 0;
  height: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  position: absolute;
}

.faq-input:checked ~ .faq-title {
  background-color: #b91125;
}

.faq-input:checked ~ .faq-title:after {
  border-style: solid;
  border-width: 0 5px 8px 5px;
  border-color: transparent transparent #fff transparent;
}

.faq-input:checked ~ .faq-text {
  display: block;
}

.faq-text {
  display: none;
  padding: 10px 15px;
  color: #fff;
  font-size: 14px;
}

/* media */

.intro__text p {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  font-size: 20px;
}

@media (max-width: 1300px) {
  .container {
    max-width: 1170px;
  }

  .welcome__photo {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 70%;
            flex: 1 1 70%;
  }

  .welcome__photo--big {
    width: 60%;
    height: 90%;
  }

  .welcome__photo--small {
    width: 60%;
    height: 40%;
    bottom: 54px;
  }
}

@media (max-width: 1180px) {
  .form-search__col--search {
    margin-top: 20px;
    width: 100%;
  }

  .amenities__description {
    width: 550px;
  }
}

@media (max-width: 1100px) {
  .welcome__photo--big {
    width: 50%;
    height: 70%;
  }

  .amenities__description {
    width: 500px;
  }

  .description__title {
    padding-top: 0px;
    padding-bottom: 10px;
  }

  .welcome__photo--small {
    width: 50%;
    height: 30%;
    bottom: 161px;
  }
}

@media (max-width: 1067px) {
  .welcome__photo--big {
    width: 50%;
    height: 60%;
  }

  .welcome__photo--small {
    width: 50%;
    height: 30%;
    bottom: 227px;
  }

  .photo-gallery__block-item {
    width: 49%;
    margin-bottom: 20px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }

  .form-search__col--in {
    width: 350px;
  }

  .form-search__col--out {
    width: 350px;
  }

  .form-search__col-input input {
    width: 300px;
  }

  .form-search__col--adult {
    width: 300px;
    margin-left: 10px;
  }

  .form-search__col--children {
    width: 300px;
    margin-right: 50px;
  }

  .form-search__col-input select {
    width: 300px;
  }

  .preview {
    display: none;
  }

  .welcome__photo--big {
    position: relative;
    width: 60%;
    height: 600px;
  }

  .welcome__photo--small {
    position: relative;
    width: 60%;
    height: 250px;
    right: -240px;
    top: -255px;
  }

  .welcome__photo {
    width: 100%;
    height: 600px;
  }

  .welcome__text {
    width: 100%;
  }

  .welcome__col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .amenities__description {
    width: 740px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@media (max-width: 767px) {
  .container {
    max-width: none;
  }

  .welcome__photo--big {
    position: relative;
    width: 50%;
    height: 450px;
  }

  .welcome__photo--small {
    position: relative;
    width: 40%;
    height: 200px;
    right: 200px;
    top: 0px;
  }

  .welcome__photo {
    width: 100%;
    height: 600px;
    margin-bottom: 40px;
  }

  .welcome__text {
    width: 100%;
  }

  .rooms__offers-col {
    width: 100%;
  }

  .reviews__block {
    margin-right: 200px;
  }
}

@media (max-width: 735px) {
  .form-search__col--in {
    width: 300px;
  }

  .form-search__col--out {
    width: 300px;
  }

  .form-search__col-input input {
    width: 250px;
  }

  .form-search__col--adult {
    width: 300px;
  }

  .form-search__col--children {
    width: 250px;
    margin-left: 40px;
  }

  .form-search__col-input select {
    width: 250px;
  }

  .amenities__description {
    height: 500px;
    margin-right: 40px;
  }

  .description__text {
    font-size: 15px;
  }
}

@media (max-width: 680px) {
  .form-search__col--in {
    width: 250px;
  }

  .form-search__col--out {
    width: 250px;
  }

  .form-search__col-input input {
    width: 200px;
  }

  .form-search__col--adult {
    width: 250px;
  }

  .form-search__col--children {
    width: 200px;
    margin-left: 40px;
  }

  .form-search__col-input select {
    width: 200px;
  }

  .welcome__photo--big {
    width: 300px;
    height: 400px;
  }

  .welcome__photo--small {
    width: 250px;
    height: 170px;
    right: 150px;
    top: 0px;
  }

  .welcome__photo {
    width: 100%;
    height: 600px;
    margin-bottom: 40px;
  }

  .welcome__text {
    width: 100%;
  }

  .reviews__block {
    height: 600px;
  }

  .reviews__block-suptitle {
    margin-bottom: 5px;
  }

  .reviews__block-text {
    font-size: 15px;
    margin-bottom: 20px;
    padding: 0;
  }

  .reviews__block-suptitle::before {
    margin-top: 20px;
  }
}

@media (max-width: 650px) {
  .intro__title {
    font-size: 60px;
  }

  .description__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 590px) {
  .welcome__photo--big {
    width: 200px;
    height: 300px;
  }

  .welcome__photo--small {
    width: 200px;
    height: 120px;
    right: 150px;
    top: 0px;
  }

  .reviews__block {
    height: 700px;
    margin-left: -70px;
  }

  .restaurant__photo {
    width: 100%;
    margin-left: 40px;
    margin-bottom: 30px;
  }

  .restaurant__menu {
    width: 90%;
  }

  .restaurant__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 580px) {
  .form-search__col--in {
    width: 200px;
  }

  .form-search__col--out {
    width: 200px;
  }

  .form-search__col-input input {
    width: 150px;
  }

  .form-search__col--adult {
    width: 200px;
  }

  .form-search__col--children {
    width: 150px;
    margin-left: 40px;
  }

  .form-search__col-input select {
    width: 150px;
  }

  .header__logo {
    display: none;
  }

  .amenities__description {
    height: 630px;
  }
}

@media (max-width: 550px) {
  .amenities__description {
    height: 720px;
    margin-right: 60px;
  }

  .photo-gallery__block-item {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .form-search__col--in {
    width: 350px;
    margin-left: 10px;
  }

  .form-search__col--out {
    width: 350px;
    margin-left: 10px;
  }

  .form-search__col-input input {
    width: 350px;
  }

  .form-search__col--adult {
    width: 350px;
  }

  .form-search__col--children {
    width: 200px;
    margin-left: 10px;
  }

  .form-search__col-input select {
    width: 350px;
  }

  .nav {
    font-size: 12px;
  }

  .intro__title {
    font-size: 40px;
  }

  .intro__title span {
    font-size: 0;
  }
}

@media (max-width: 434px) {
  .welcome__photo--small {
    width: 350px;
    height: 200px;
    right: 150px;
    top: 0px;
  }
}

@media (max-width: 410px) {
  .amenities__description {
    height: 700px;
    padding: 10px;
  }

  .reviews__block {
    padding: 10px;
    width: 300px;
  }
}

@media (max-width: 400px) {
  .form-search__col--in {
    width: 300px;
    margin-left: 10px;
  }

  .form-search__col--out {
    width: 300px;
    margin-left: 10px;
  }

  .form-search__col-input input {
    width: 300px;
  }

  .form-search__col--adult {
    width: 300px;
  }

  .form-search__col--children {
    width: 150px;
    margin-left: 10px;
  }

  .form-search__col-input select {
    width: 300px;
  }
}

@media (max-width: 360px) {
  .welcome__photo--big {
    width: 200px;
    height: 300px;
  }

  .welcome__photo--small {
    width: 350px;
    height: 200px;
    right: 150px;
    top: 0px;
  }
}

@media (max-width: 350px) {
  .form-search__col--in {
    width: 200px;
    margin-left: 10px;
  }

  .form-search__col--out {
    width: 200px;
    margin-left: 10px;
  }

  .form-search__col-input input {
    width: 200px;
  }

  .form-search__col--adult {
    width: 250px;
  }

  .form-search__col--children {
    width: 50px;
    margin-left: 10px;
  }

  .form-search__col-input select {
    width: 200px;
  }
}

.webp .intro__slider { background: #04222a url(../img/slider/slide-1-2560x1268.webp) no-repeat center; }

.webp .swimming-icon { background: url(../img/swimming-pool.webp) 0 0 no-repeat; }

.webp .spa-icon { background: url(../img/massage.webp) 0 0 no-repeat; }

.webp .surfing-icon { background: url(../img/swimmer.webp) 0 0 no-repeat; }

.webp .diving-icon { background: url(../img/wind.webp) 0 0 no-repeat; }

.webp .gym-icon { background: url(../img/dumbell.webp) 0 0 no-repeat; }

.webp .boat-icon { background: url(../img/cruise.webp) 0 0 no-repeat; }

.webp .conference-icon { background: url(../img/speaker.webp) 0 0 no-repeat; }

.webp .beach-icon { background: url(../img/wind.webp) 0 0 no-repeat; }